/* cards categorias e produtos */
.grupo-categorias{
    background-color: var(--cor-2);
   width: 80vw;
    margin: 5vw auto 2vw auto;
    padding: 10px 10px;
    -webkit-box-shadow: 1px 2px 14px -1px rgba(112,108,112,1);
    box-shadow: 1px 2px 14px -1px rgba(112,108,112,1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


/* novo categoria inicio */
.categorias-item{
    width: 23%;
    height: 38vh;
    position: relative;
    z-index: 3;
    margin: 10px 0 ;
}
.categoria-thumb{
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    overflow: hidden;
}

.categoria-thumb img{
    height: 100%;
    opacity: 0.5;
    transition: 1s;
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.categorias-item  :hover  .categoria-thumb img{
    opacity: 0.9;
    -moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
    transition-duration: 2s;
}
.content-categoria{
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title-categoria{
color:  var(--cor-2);
text-align: center;
margin: 10% 0;
font-size: 2.1rem;
}
.description-categoria{
    color:  var(--cor-2);
    text-align: center;
    font-size: 1.1rem;
    width: 70%;
}
/* novo categoria fim */


/* cards portifolio */
.group-portifolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1100px;
    margin: 3vw auto 0 auto;
}

.item-portifolio{
    width: 30%;
    margin: 30px 15px;
    -webkit-box-shadow: -1px -1px 14px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px 0px rgba(0,0,0,0.75);
    height: 60vh;
    max-height: 700px;
}

.img-portifolio img{
    width: 100%;
    transition: 1s;
    height: 100%;
    -moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.img-portifolio{
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;

}

.item-portifolio:hover  .img-portifolio img{
    -moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
    transition-duration: 1s;
}

.title-item-portifolio{
    font-size: 1.3rem;
    color: var(--cor-1);
    margin: 20px auto;
    font-family: Rubik-Regular;
}

.item-portifolio:hover .title-item-portifolio{
    font-size: 1.3rem;
    color: var(--cor-1);
    margin: 20px auto;
    font-family: Rubik-bold;
}

.categorias{
    position: absolute;
    bottom: 0%;
    width: 70%;
    min-width: 100px;
    padding: 5px;
    background-color: var(--cor-1);
}

.portifolio-info{
    margin: 10px auto;
    text-align: center;
}




/* cads buscas avançadas */

.item-pesquisa{
    width: min(100%, 1280px); 
     margin: 40px auto; 
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    background-color: var(--cor-1);
}


.info-busca{
    color: var(--cor-2);
    font-size: 1.7rem;
    margin-top: 5px;
    padding: 10px 0px 10px 40px;
    white-space: nowrap;
}

.search-avanced-forms {
    width: 80%;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   z-index: 1;
  }

  .pesquisa-avancada-img{
      margin-right: 30px;
  }

  .pesquisa-avancada{
      width: 100%;
  }

  
  .barra-pesquisa-avancada {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  
  .search-avanced {
    border: 1px;
    border-radius: 15px;
    padding: 2px 25px 2px 5px;
    max-width: 550px;
    width: 100%;
    font-size: 0.9rem;
  }
  
  .search-avanced-button{
    background: none;
    border: none;
    position: relative;
    right: 25px;
  }
  
  .search-button-img-avanced {
    max-width: 25px;
    background: none;
  }
  
  .pesquisa-avancada-img .search-button-img {
    width: 35px;
    padding: 0 3px;
    background: none;
  }


/* input radio */
.row-radio{
    width: max-content;
    margin: 50px auto 80px auto;
    display: flex;
    flex-wrap: nowrap;

}

input[type=radio]{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border: 3px solid var(--cor-1);
}

