footer {
  position: relative;
  height: 20vh;
  margin-top: 50px;
}

footer p {
  color: white;
}
.bg-footer {
  margin-bottom: -10px;
  width: 100vw;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.container-footer {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 10vw;
}

.logo-footer .brasao_unemat_footer {
  max-width: initial;
  width: 6.8vw;
	margin:0px auto;
}
.logo-footer .risc{
	max-width: initial;
	width: 8vw;
	margin: 5px auto;
}
.desenvolvido {
  margin-top: 25px;
  width: 30%;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.container-footer .fale-conosco .icon img{
  width: 30px;
  margin-bottom: 1px;
}